<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h4>Annotorius Openseadragon Custom Select Widget</h4>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <a href="https://prnt.sc/1euympd" target="_blank">Development Mode</a>
      &nbsp;&nbsp;
      <a href="https://prnt.sc/1euzdg2" target="_blank">Production Mode</a>
    </div>
  </div>
</div>
<div class="container mt-3">
  <div class="row">
    <div class="col-sm-12">
      <div #ref class="viewer"></div>
    </div>
  </div>
</div>